<div class="alert mt-5" [class.alert-warning]="!task.done" [class.alert-success]="task.done">
    <span class="task-name" [class.done]="task.done">
        #{{task.name}}
        <ng-container *ngIf="task.description">
            - <small>{{ task.description }}</small>
        </ng-container>
    </span>
    <button class="float-right" (click)="toggleTask(task)" [disabled]="disabled">
        <i class="fas fa-check"></i>
    </button>
    <button class="float-right mx-5" (click)="removeTask(task)" [disabled]="disabled">
        <i class="fas fa-trash"></i>
    </button>
    <button class="float-right" [routerLink]="'/edit/' + task.id" [disabled]="disabled">
        <i class="fas fa-pencil-alt"></i>
    </button>
</div>