<div class="container mt-5">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form-group">
                <input type="text" placeholder="New task..." formControlName="name" class="form-control">
                <small *ngIf="form.get('name').touched && form.get('name').hasError('required')">this value is required</small>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Add Task <i class="fas fa-plus"></i></button>
    </form>
</div>

<div class="container">
     <app-task
        *ngFor="let task of (taskService.tasks$ | async)"
        [task]="task"
    ></app-task>
</div>